#[submodule "themes/sam"]
#	path = themes/sam
#	url = https://github.com/victoriadrake/hugo-theme-sam.git

[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git


